h3, h4{
  color: gray;
}

.forms, input{
  text-align: left;
  display: block;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

p{
  margin-bottom: 1rem;
}

.input_content{
  display: inline-flex;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

button{
  margin-top: 2%;
  background-color: #a5bb7a!important;
  border-color: #a5bb7a!important;
  color: white;
}

#price{
  font-weight: bold;
  font-size: 2rem;
  color: blueviolet
}