section.menu
 .container
    nav.nav    
     a.nav-link(href="index.html" class={active: currentURL == 'index.html'}) Главная
     a.nav-link(href="#") Блог
     a.nav-link(href="#") Портфолио
     a.nav-link(href="contacts.html" class={active: currentURL == 'contacts.html'}) Контакты